.languageToggler {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 12px !important;
  background-color: theme(primary);
  border: none;
  border-radius: 50% !important;
  transition: all 0.3s ease-in-out;
  min-width: 40px !important;
  cursor: pointer;

  &:hover {
    background-color: theme(primary-hover);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  .iconContainer {
    position: relative;
    width: 16px;
    height: 16px;
  }

  .icon {
    position: absolute;
    inset: 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: rotate(-90deg) scale(0.75);

    &.active {
      opacity: 1;
      transform: rotate(0deg) scale(1);
    }
  }
}
