.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
        width: 100%;
        border-radius: 10px !important;
    }

    .form-row {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}