.login-card {
    button {
        width: 100%;
        border-radius: 10px !important;
    }

    .btn-cont {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    @media (max-width: $mobile) {
        .btn-cont {
            flex-direction: column;
        }
    }

    .link {
        color: theme('primary');
        text-decoration: none;
        font-weight: 600;
        
        &:hover {
            color: theme('primary-hover');
        }
    }
}