.autocomplete {
    display: flex;
    flex-direction: column;
    text-align: start;

    &__label {
        color: theme('text-primary') !important;
        font-weight: 600 !important;
    }

    &__input {
        :global(.MuiInputBase-root) {
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            height: 40px;
            color: theme('text-primary');
            padding: 0px !important;
            padding-right: 70px !important;
        }

        :global(.MuiInputBase-input){
            padding: 7.5px 14px !important;
        }
        
        :global(.MuiOutlinedInput-notchedOutline) {
            border: none;
        }

        :global(.MuiFormHelperText-root) {
            color: theme('error');
            font-weight: 600;
            font-size: 14px;
        }

        :global(.MuiInputBase-root.Mui-error) {
            border: 2px solid theme('error') !important;
        }

        :global(.MuiAutocomplete-endAdornment) {
            color: theme('text-primary');
            display: flex;
            flex-direction: row;
        }

        :global(.MuiAutocomplete-popupIndicator) {
            color: rgba(255, 255, 255, 0.5);
            width: 30px;
        }

        :global(.MuiAutocomplete-clearIndicator) {
            color: rgba(255, 255, 255, 0.5);
            width: 30px;
        }

        :global(.MuiAutocomplete-paper) {
            background: rgba(0, 0, 0, 0.9);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
        }
    }
}