.games-section {
    background: theme('background-gradient');
    
    .title {
        font-size: 42px;
        font-weight: 600;
        color: theme('text-secondary');
    }

    .games-cont{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }
}