.button {
    color: theme('text-primary') !important;
    border-radius: 30px;
    text-transform: none !important;

    &:global(.MuiButton-contained) {
        background: theme('primary-gradient');
        box-shadow: none;

        &:hover {
            box-shadow: 0 5px 15px theme('primary-shadow');
        }
    }

    &:global(.MuiButton-text) {
        background: rgba(255, 255, 255, 0.1);
        border: none;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }

    &:global(.MuiButton-outlined) {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }

    &:global(.MuiButton-sizeSmall) {
        padding: 8px 20px;
        border-radius: 20px;
        font-size: 14px;
        line-height: 14px;
    }

    &:global(.MuiButton-sizeMedium) {
        padding: 15px 30px;
        border-radius: 30px;
        font-size: 18px;
        line-height: 18px;
    }

    &:global(.MuiButton-sizeLarge) {
        padding: 20px 50px;
        border-radius: 50px;
        font-size: 20px;
        line-height: 20px;
    }
}